{{yield}}
{{#if isEditing}}
  <form class="" {{action 'submit' on='submit'}}>
    <label for="name">Rename:</label>
    {{input id="name" value=goal.name}}
    <button type="submit">Save Changes</button>
  </form>
{{else}}
  <h1 class="underline">{{goal.name}}</h1>
  <div class="glyphicon glyphicon-pencil" {{action 'edit' model}}></div>
  <div class="glyphicon glyphicon-ok-circle" {{action 'completeGoal' model}}></div>
  <div class="glyphicon glyphicon-remove-circle" {{action 'delete' model}}></div>
{{/if}}
