{{outlet}}
<div class="center">
  <div class="underline">
    <h1>{{model.name}}</h1>
  </div>
  <div class="glyphicon glyphicon-pencil"></div>
  <div class="glyphicon glyphicon-ok-circle"></div>
  <div class="glyphicon glyphicon-remove-circle" {{action 'delete' model}}></div>
<br>
  {{in-progress listItems=model.listItems switchComplete=(action "completed") removeItem=(action "deleteItems")}}
  <br>
  {{now-completed listItems=model.listItems switchComplete=(action "completed") removeItem=(action "deleteItems")}}

  <br><br>

  <button class="btn btn-default" {{action "addListInput"}}> Add Task <strong>+</strong> </button> <br><br>
  {{#each listItems as |listItem|}}
    {{list-item item=listItem }}
  {{/each}}

  {{#if listItems}}
  <br>
    <button class="btn btn-default" {{action "removeListInput"}}> Remove Task </button>
    <button class="btn btn-default" {{action "saveItems"}}>Save Tasks</button>
  {{/if}}
<br> <br>
  <button class="btn btn-default">{{link-to 'All goals' 'goals'}}</button>
</div>
