{{outlet}}
<div class="center">
  {{edit-goal saveChanges=(action 'update') completeGoal=(action 'completeGoal') delete=(action 'delete') goal=model}}
<br>
  {{in-progress listItems=model.listItems switchComplete=(action "completed") removeItem=(action "deleteItems")}}
  <br>
  {{now-completed listItems=model.listItems switchComplete=(action "completed") removeItem=(action "deleteItems")}}

  <br><br>

  <button class="btn btn-default" {{action "addListInput"}}> Add Task <strong>+</strong> </button> <br><br>
  {{#each listItems as |listItem|}}
    {{list-item item=listItem }}
  {{/each}}

  {{#if listItems}}
  <br>
    <button class="btn btn-default" {{action "removeListInput"}}> Remove Task </button>
    <button class="btn btn-default" {{action "saveItems"}}>Save Tasks</button>
  {{/if}}
<br> <br>
  <button class="btn btn-default" {{action 'showGoals'}}>{{link-to 'All goals' 'goals'}}</button>
</div>
