<div class="center">
  <h1 class="underline"><strong>My Goals</strong></h1>
  {{#each model as |goal|}}
    {{#unless goal.isNew }}
      {{#if goal.active}}
        <h2>
          {{link-to goal.name 'goals.goal' goal}}
          <div {{action "completeGoal" goal}} class="glyphicon glyphicon-ok-circle"></div>
        </h2>
      {{/if}}
    {{/unless}}
  {{/each}}
  <br> <br>
  <button class="btn btn-default" {{action 'newGoal'}}>New Goal</button> <button {{action "showFinishedGoals"}} class="btn btn-default">Finished Goals</button>

<br> <br>

  {{#if isCompleted }}
    {{#each model as |goal|}}
      {{#unless goal.isNew}}
        {{#unless goal.active}}
          <h4>{{goal.name}}
          <div {{action "completeGoal" goal}} class="glyphicon glyphicon-ok-circle"></div>
          <div {{action "delete" goal}} class="glyphicon glyphicon-remove-circle">Delete</div></h4>
        {{/unless}}
      {{/unless}}
    {{/each}}
  {{/if}}
</div>
