<div class="center">

  {{#each model as |goal|}}
    {{#unless goal.isNew }}
      {{#if goal.active}}
        <h2>
          {{link-to goal.name 'goals.goal' goal}}
          <div {{action "completeGoal" goal}} class="glyphicon glyphicon-ok-circle"></div>
        </h2>
      {{/if}}
    {{/unless}}
  {{/each}}
  <br>
  {{link-to "New Goal" 'goals.new'}}
  <br>
  <button {{action "showFinishedGoals"}}>Finished Goals</button>

  {{#if isCompleted }}
    {{#each model as |goal|}}
      <br>
      {{#unless goal.active}}
        {{goal.name}}
        <div {{action "delete" goal}} class="glyphicon glyphicon-remove-circle">Delete</div>
      {{/unless}}
    {{/each}}
  {{/if}}
</div>
