<div class="center">
  <form class="new-form" {{action 'save' on='submit'}}>
    <label for="name">Name:</label><br>
    {{input id="name" value=model.name}}<br>
    <label for="start-date">Start Date:</label><br>
    {{input type="date" value=startDateRaw}}<br>
    <label for="end-date">End Date:</label><br>
    {{input type="date" value=endDateRaw}}<br>
    <br>
    <button type="submit" class="btn btn-default" >Save</button>
  </form>
  <br>
  {{link-to 'cancel' 'goals'}}
</div>
