<body>
  <div class="container">

    {{link-to 'Goals' "goals"}} | {{link-to 'Sign Up' 'users.new'}} | {{link-to "Log In" 'login'}} | <a href="#" {{action 'invalidateSession'}}>Log out</a>

    {{outlet}}

    <div class="center-quote">
      {{random-quote}}
    </div>

  </div>
</body>
