<div class="center">
  <div class="quote">
    <h2>{{random-quote quote=model}}</h2>

    {{#unless session.isAuthenticated}}
      <button class="btn btn-default">{{link-to "Log In" 'login'}}</button>
      <button class="btn btn-default">{{link-to 'Sign Up' 'users.new'}}</button>
    {{/unless}}

    {{#if session.isAuthenticated}}
      <button class="btn btn-default" {{action 'allGoals'}}>All Goals</button>
      <button class="btn btn-default" {{action 'newGoal'}}>New Goal</button>
    {{/if}}

  </div>
</div>
