<div class="center">
  <div class="quote">
    <h2>{{random-quote quote=model}}</h2>
  </div>

    {{#unless session.isAuthenticated}}
      <button class="btn btn-default" {{action 'logIn'}}>Log In</button>
      <button class="btn btn-default" {{action 'signUp'}}>Sign Up</button>
    {{/unless}}

    {{#if session.isAuthenticated}}
      <button class="btn btn-default" {{action 'allGoals'}}>All Goals</button>
      <button class="btn btn-default" {{action 'newGoal'}}>New Goal</button>
    {{/if}}

</div>
